
.video-js {
	background: #9A736A !important;
	height: 100px!important;
}

.video-js .vjs-control {
    margin-left: 20px !important;
}

.video-js .vjs-button>.vjs-icon-placeholder:before {
    font-size: 3.8em !important;
    line-height: 1.67 !important;
    display: flex !important;
    align-items: center !important;
}

.video-js #backButton, .video-js #forwardButton {
    display: none !important;
}

.video-js .vjs-volume-panel.vjs-volume-panel-vertical {
    width: 4em !important;
    position: absolute !important;
    right: 20px !important;
}

.video-js .vjs-time-control.vjs-current-time {
    margin-left: 1em !important;
}

.video-js .vjs-duration, .video-js .vjs-current-time, .video-js .vjs-time-divider {
    display: flex !important;
    align-items: center !important;
}

.video-js.not-hover.vjs-has-started.vjs-paused.vjs-user-inactive:not(.vjs-audio-only-mode) .vjs-progress-control {
    height: 1.5em !important;
    position: absolute !important;
    top: 42px !important;
    width: 63% !important;
    left: 19% !important;
    border-radius: 10px !important;
    overflow: hidden !important;
}

.video-js .vjs-progress-control .vjs-load-progress, .bc-player-LU79SIOtz_default .vjs-progress-control .vjs-play-progress, .bc-player-LU79SIOtz_default .vjs-progress-control .vjs-progress-holder {
	height: 100% !important;
}
.video-js .vjs-slider {
    background-color: #585858 !important;
}
.video-js .vjs-load-progress, .video-js .vjs-load-progress div {
    background: rgba(225,225,225,.5) !important;
}
.vjs-mouse.bc-player-LU79SIOtz_default .vjs-progress-control {
    height: 1.5em !important;
}
.video-js .vjs-play-progress {
    background-color: #fff !important;
}

.video-js .vjs-control {
     display: none !important;
}


