.video-js {
	height: 100px !important;
	background-color: #9a736a;
}
.video-js .vjs-tech {
	display: none;
}
.video-js .vjs-poster {
	display: none;
}
.video-js.vjs-layout-x-small .vjs-custom-control-spacer {
	display: none;
}
.video-js .vjs-previewer-watermark, .video-js .vjs-next-button, .video-js .vjs-time-divider, .video-js .vjs-picture-in-picture-control, .video-js .vjs-fullscreen-control {
	display: none;
}

.video-js .vjs-control-bar {
	align-items: center;
	justify-content: space-between;
	font-size: 20px !important;
	bottom: 22px !important;
	visibility: unset !important;
    opacity: unset !important;
    -webkit-backface-visibility: unset !important;
    -webkit-transform: unset !important;
    -moz-transform: unset !important;
    -ms-transform: unset !important;
    -o-transform: unset !important;
    transform: unset !important;
    -webkit-transition: unset !important;
    -moz-transition: unset !important;
    -ms-transition: unset !important;
    -o-transition: unset !important;
    transition: unset !important;
}

.video-js .vjs-play-control {
	order: 1;
}
.video-js .vjs-current-time {
	order: 2;
	margin-left: 0;
}
.video-js .vjs-duration {
	order: 4;
}
.video-js .vjs-progress-control {
	order: 3;
	position: unset;
	left: unset;
    right: unset;
	margin: 0 10px;
}
.video-js .vjs-volume-panel {
	order: 5;
}
.video-js .vjs-time-control {
	padding-left: 0;
    padding-right: 0;
}

.video-js .vjs-big-play-button {
	display: none;
}
.video-js .vjs-control-bar {
	display: flex !important;
}
.video-js .vjs-play-progress {
	background: #fff !important;
}
.video-js .vjs-progress-holder .vjs-load-progress div {
	background: rgb(255 255 255 / 10%);
}
.video-js .vjs-load-progress {
    background: rgba(255, 225, 225, 0.8);
}
.video-js .vjs-load-progress div {
	background: rgba(255, 225, 225, 0.8);
}
.video-js .vjs-slider {
	background: rgba(255, 255, 255, 0.5);
}