.video-js .vjs-big-play-button {
	background-color: #585858;
}
.video-js .vjs-load-progress {
background: #585858;
}

.video-js.bc-player-fgal1a0TMK_default .vjs-play-progress {
	background-color:#fff;
}
.video-js .vjs-load-progress div {

}